body {
    background: linear-gradient(to left,#d3959b,#bfe6ba);
}
#ttl{
    position: absolute;
    left: 45%;
    top: 10%;
    font-size: 300%;
    margin-top: -50px;
}

#input{
    position: absolute;
    left: 40%;
    top: 20%;
    font-size: 150%;
    background-color: rgba(240, 255, 255, 0.5);
    border-radius: 10px;
    padding: 13px;
    text-align: left;
}
.label_input {
    font-size: 20px;
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin:2px;
    color: white;
    background-color: #3CD8FF;
    border-radius: 4px;

}
form p > * {
    display: inline-block;
    vertical-align: middle;
}
#selecttype{
    font-size: 150%;
    
}

#searchtype{
    font-size: 110%;
    width: 288px;
}

#searchvalue{
    margin:1px;
    width: 278px;
    height: 28px;
    border-radius: 4px;
    border: 2px solid red;
    font-size: 100%;
}


#search{
    font-size: 150%;
}
#output{
    position: absolute;
    left: 25%;
    width: 800px;
    top: 60%;
    margin-top: -20px;
}
#tableframe1{
    top: 80px;
    position: absolute;
    width: 100%;
}
#tableframe2{
    position: absolute;
    top: 370px;
    width: 100%;
}

#subt{
    position: absolute;
    top: 10px;
    margin-top: -20px;
    font-size: 150%;
}

#ptbt{
    position: absolute;
    top: 10px;
    right: 0px;
    margin-top: -20px;
    font-size: 150%;
}

#note{
    position: absolute;
    left: 47%;
    top: 53%;
    font-size: 100%;
    margin-top: -50px;
}
